[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "cwt"
version = "2.7.3"
description = "A Python implementation of CWT/COSE."
authors = ["Ajitomi Daisuke <dajiaji@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/dajiaji/python-cwt"

include = [
  "CHANGES.rst",
  "docs",
  "poetry.lock",
  "samples",
  "tests",
  "tox.ini",
]

exclude = [
  "docs/_build",
]

[tool.poetry.dependencies]
python = "^3.8"
asn1crypto = "^1.4.0"
cbor2 = "^5.4.2"
certvalidator = "^0.11.1"
cryptography = ">=41.0.5,<42"
Sphinx = {version = ">=6,<8", optional = true, extras = ["docs"]}
sphinx-autodoc-typehints = {version = "^1.21.0", optional = true, extras = ["docs"]}
sphinx-rtd-theme = {version = "^1.0.0", optional = true, extras = ["docs"]}
pyhpke = ">=0.4.2,<1.0.0"

[tool.poetry.extras]
docs = [
  "Sphinx",
  "sphinx-autodoc-typehints",
  "sphinx-rtd-theme",
]

[tool.poetry.dev-dependencies]
pytest = "^7.4"
pytest-cov = "^4.1.0"
tox = "^4.11.3"
pre-commit = "^3.5.0"

[tool.mypy]
ignore_missing_imports = true
