[ req ]
default_bits       = 2048
prompt            = no
default_md        = sha256
distinguished_name = req_distinguished_name
req_extensions    = v3_req

[ req_distinguished_name ]
C  = JP
ST = Tokyo
L  = Setagaya
O  = MyCompany
CN = test.example

[ v3_req ]
basicConstraints = critical, CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = test.example
DNS.2 = www.test.example
DNS.3 = sub.test.example
